@charset "UTF-8";
body{
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	color: white;
	align-content:center;
	align-items:center;
	margin: auto;
}
button{
	background-color:#8cbebe;
	color:red; 
	padding:10px 15px;
	text-decoration:none;
	margin:5px 10px;
	cursor:pointer;
	border-radius:10px;	
}
input[type=text],input[type=email],input[type=password],input[type="search"]{
	border:groove;
	padding:10px 22px;
	border-radius:15px;	
}input[type=submit]{
	background-color:#8cbebe;
	color:red; 
	padding:10px 15px;
	text-decoration:none;
	margin:5px 10px;
	cursor:pointer;
	border-radius:10px;	
}

tbody{
	margin: auto;
}

th{
	margin:auto;	
	font-size: 20px;
	width: 300px;
}