@charset "UTF-8";
body{
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	color: white;
	align-content:center;
	align-items:center;
	margin: auto;
}
tbody{
	margin: auto;
}
th{
	background-color:green;
	margin:auto;	
	font-size: 20px;
	width: 300px;
}