@charset "UTF-8";
body{
	background: #c1e2f1;
	color: black;
	align-content:center;
	align-items:center;
	margin: auto;
}
button,input[type=submit],input[type=button]{
	background-color:white;
	color:black; 
	padding:10px 10px;
	text-decoration:none;
	margin:5px 10px;
	cursor:pointer;
	border-radius:10px;
	border-color:black;
	font-size: 12px;
	display: inline;
}
form {
    display: inline-block;	
}
input[type=text],input[type=email],input[type=password],input[type="search"]{
	border:groove;
	padding:10px 15px;
cursor :move;
	border-radius:15px;	
}
table{
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	margin-left: auto;
	margin-right: auto;
}
tbody{
	margin: auto;
	background-color: white;
}
td{
	text-align: center;
	color: black;	
	font-size: 20px;
}
th{
	margin:auto;	
	font-size: 25px;
	width: 300px;
}
